*{
    margin: 0;
    padding: 0;
}
#first{
    background-color: blanchedalmond;
    text-transform: capitalize;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#out{
    font-size: 25px;
}
#in{
    font-size: 10px;
}
